<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blecenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>062BC9F2201DB3010029F9E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062BCA06201DB3010029F9E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>062BCA11201DB3020029F9E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
